<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonService" />
                <binding name="BasicHttpBinding_IPersonService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPersonService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPersonService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/WcfService/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService"
                contract="ServiceReference1.IPersonService" name="BasicHttpBinding_IPersonService" />
            <endpoint address="http://localhost:5000/WcfService/endpoint2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPersonService"
                contract="ServiceReference1.IPersonService" name="WSHttpBinding_IPersonService" />
            <endpoint address="http://localhost:5000/WcfService/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService1"
                contract="ServiceReference1.IPersonService" name="BasicHttpBinding_IPersonService1" />
            <endpoint address="http://localhost:5000/WcfService/endpoint2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPersonService1"
                contract="ServiceReference1.IPersonService" name="WSHttpBinding_IPersonService1" />
        </client>
    </system.serviceModel>
</configuration>
